.flashy {
  text-align: center;
  font-size: 96px;

  
  }


.nametitle {
  border: 8px seagreen;
  padding: 4px;
  background-color: beige;
}

img {
  width: 100%;
  height: 50%;
  
}

.rightside {
    float: right;
    border: 8px black;
    padding: 8px;
    margin: 15px;
    background-color: coral;
    width: 25%;
}

.day1 {
  background-color: rgb(60, 102, 60);
  text-align: center;


}

.day2 {
  background-color: rgb(110, 192, 110);
  text-align: center;


}

.day3 {
  background-color: royalblue;
  text-align: center;


}

.day4 {
  background-color: rgb(131, 134, 143);
  text-align: center;


}

.intro {
  text-align: center;
  border: crimson;
  font-size: 25px;

}