.flashy {
  text-align: right;
  font-size: 65px;
  
  }


.nametitle {
  border: 8px seagreen;
  padding: 4px;
  background-color: beige;
}

img {
  width: 75%;
  height: 50%;
  
}

.rightside {
    float: right;
    border: 8px black;
    padding: 8px;
    margin: 15px;
    background-color: coral;
    width: 25%;
}